<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Series Manager"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".AutenticacaoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CadastrarUsuarioActivity"
            android:exported="true" />
        <activity
            android:name=".RecuperarSenhaActivity"
            android:exported="true" />
        <activity
            android:name=".CadastroEpisodioActivity"
            android:exported="true" />
        <activity
            android:name=".CadastroTemporadaActivity"
            android:exported="true" />
        <activity
            android:name=".CadActivity"
            android:exported="true" />
        <activity
            android:name=".EpisodioActivity"
            android:exported="true" />
        <activity
            android:name=".TemporadaActivity"
            android:exported="true" />
        <activity
            android:name=".SerieListActivity"
            android:exported="true" />
        <activity
            android:name=".SerieActivity"
            android:exported="true" />

    </application>

</manifest>